{% extends 'base.html' %}

{% block title -%}
Services
{%- endblock %}

{% block body %}
<h1>Services list</h1>
<div>
  <ul>
  {% for service_id in services %}
    <li>
      <a href="{{ url_for('service_app.services_detail', service_id=service_id) }}">
        {{ services[service_id] }}
      </a>
    </li>
  {% endfor %}
  </ul>
  <p></p>
  <p><a href="{{ url_for('index') }}">Home</a></p>

   <form action="" method="post" enctype="multipart/form-data">
    <table>
        <tbody>
            <tr>
                                 <td> Вертикальная ориентация: </td>
                <td><input type="file" name="avatar"></td>
            </tr>
            <tr>
                                 <td> Описание: </td>
                <td><input type="text" name="desc"></td>
            </tr>
            <tr>
                                 <td> <input type = "submit" value = "Submit"> </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}